{
  "presets": [
    [
      "env",
      {
        // ↓を記述しないとTree Shakingされない
        // import/export構文が別の構文に変換されてしまうため
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "transform-imports",
      {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}